ul {
    text-align: center;

    & li {
        margin: 15px 0;

        & a {
            text-decoration: none !important;
            cursor: pointer;
        }
    }
}

h1 {
    text-transform: capitalize;
}
