body {
    background-color: #b7f5e5;
    color: #000 !important;
    font-family: 'Special Elite', serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
}


a:link,
a:hover,
a:active,
a:visited {
  color: #000;
}


.main-nav {
  display: block;
  padding: 10px;
  font-size: 16px;
  text-align: center;

}

h1 {
  text-align: center;
  margin: 0;
  padding: 15px 0 ;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

article,
a.print-button:active,
a.print-button:hover,
a.print-button:visited,
a.print-button:link {
  filter: blur(0.5px);
  color: rgba(0,0,0,.75) !important;
  text-decoration: none;
}

aside {
  display: block;
  text-align: right;
}

